body
{
	background-color: rgb(0, 0, 0);
}
table, td, th, tr
{
	border: 5px solid maroon;
	border-collapse: collapse;
	text-decoration-color: white;

}
tr th:hover
{
	background-color: yellow;
	color: black;
	text-decoration: white;
}
table
{
	font-size: 20px;
	color: white;
	position: absolute;
	top: 90px;
	left: 580px;
}
h1
{
	color: white;
}
title
{
	text-decoration: underline;
	color: white;
}
p
{
	color: white;
}